/* pages/stock-edit/index.wxss */
page {
  // --td-switch-checked-color: #00A870;
  --td-switch-unchecked-color: #00A870;
  --td-switch-label-color: #00A870;
  padding-top: 32rpx;
  padding-bottom: 32rpx;
}

.button-wrap {
  margin: 32rpx;
  padding-bottom: env(safe-area-inset-bottom);
  padding-bottom: constant(safe-area-inset-bottom);
}

.cell-title {
  color: var(--td-font-gray-4, rgba(0, 0, 0, 0.26));
  font-size: 28rpx;
  margin-left: 32rpx;
  padding-left: var(--td-cell-vertical-padding, 32rpx);
}

.section {
  margin: 16px;
  padding: 16px;
  background: #fff;
  border-radius: var(--td-radius-large, 18rpx);
}

.tips {
  font-size: 14px;
  margin-top: 12px;
  color: #999;
}