page {
  background-color: #fff;
}

.container {
  padding: 24rpx;
}

.h1, .h2, .h3, .h4 {
  font-weight: bold;
  margin-bottom: 12rpx;
}

.h1 {
  font-size: 38rpx;
}

.h2 {
  font-size: 36rpx;
}

.h3 {
  font-size: 32rpx;
}

.h4 {
  font-size: 30rpx;
}

.list {
  margin-bottom: 24rpx;
  font-size: 28rpx;
  line-height: 36rpx;
}