/* pages/stock/index.wxss */
page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 180rpx);
}

.button-wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barcode-btn {
  --td-button-large-icon-font-size: 52px;
  --td-button-large-height: 110px;
  --td-button-large-width: 110px;
}