page {
  padding-bottom: 100px;
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  width: 50rpx;
  height: 50rpx;
}

.name {
  display: flex;
  align-items: center;
  font-size: 28rpx;
}

.header {
  // background-color: #fff;
  padding: 24rpx 32rpx 0;
}

.search {
  background: rgba(221, 221, 221, .7) !important;
}

.container {
  margin-top: 32rpx;
  padding: 0 32rpx;
}

.tabs {
  height: 100%;
}

.t-tabs__scroll {
  min-height: 100vh;
  background-color: #f3f3f3;
}

.card {
  margin: 24rpx;
  padding: 24rpx;
  border-radius: 8rpx;
  box-shadow: 2rpx 2rpx 10rpx rgba(0, 0, 0, .3);
}

.wrapper {
  box-sizing: border-box;
  height: 100vh;
  border-bottom: env(safe-area-inset-bottom, 28rpx) solid #fff;
  padding-bottom: 50px ;
}

scroll-view {
  height: 100%;
}