page {
  padding-bottom: 100px;
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  width: 50rpx;
  height: 50rpx;
}

.name {
  display: flex;
  align-items: center;
  font-size: 28rpx;
}

.side-bar {
  --td-side-bar-width: 256rpx;
  height: 100vh;
}

.side-bar-item {
  justify-content: flex-start !important;
}

.card {
  margin: 24rpx;
  padding: 24rpx;
  border-radius: 8rpx;
  box-shadow: 2rpx 2rpx 10rpx rgba(0, 0, 0, .3);
}

.wrapper {
  box-sizing: border-box;
  height: 100vh;
  border-bottom: env(safe-area-inset-bottom, 28rpx) solid #fff;
  padding-bottom: 50px ;
}

scroll-view {
  height: 100%;
}

.search-box {
  --td-search-height: 64rpx;
  margin-left: 32rpx;
  width: 252px;
}

.container {
  display: flex;
  height: calc(100vh - 124px);
}

.content {
  flex: 1;
}