page {
  padding-top: 32px;
  background-color: #fff;
}

.avatar-wrapper {
  background-color: transparent;

  &:before, &:after {
    display: none;
  }
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 12px;
}

.button-wrapper {
  padding: 32px;
}