.empty-action {
  display: flex;
  justify-content: center;
}

.section {
  margin: 16px;
  padding: 16px;
  background: #fff;
  border-radius: var(--td-radius-large, 18rpx);
}

.cell-title {
  color: var(--td-font-gray-4, rgba(0, 0, 0, 0.26));
  font-size: 28rpx;
  margin-left: 32rpx;
  padding-left: var(--td-cell-vertical-padding, 32rpx);
}

.loading-wrap {
  display: flex;
  justify-content: center;
}

.empty-action-btn {
  display: flex;
  flex-direction: column;
  align-items: center;

  .desc {
    margin-top: 12px;
    font-size: 14px;
    color: var(--td-font-gray-4, rgba(0, 0, 0, 0.26));
  }
}